# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
api
worker

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docs / Markdown
*.md
!README.md

# Test
*.test
*.out
coverage.html
